
.profile-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 200px;
    /*max-width: 340px; // orginal twitter width: 290px;*/
}

.profile-bg {
    background-image: url("../img/comentarismo-bg-1500-500.png");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 195px;
    width: 100%;
}

.profile-bg-news {
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 310px;
    width: 100%;
}

.profile-block {
    display: block !important;
}

.profile-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}

/* gets the avatar up
*/
.profile-goup {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}

.profile-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}

.profile-nick {
    margin: 5px 0 0;
}

.profile-nickName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.profile-divName a {
    color: inherit !important;
}

.profile-divStats {
    margin-left: 11px;
    padding: 10px 0;
}

.profile-commentsfollowfollowers {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}

ul.profile-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.profile-commentsfollowfollowersLi {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}

.profile-commentsfollowfollowersLi a:hover {
    text-decoration: none;
}

.profile-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}

.profile-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

a#inifiniteLoader {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: 10px;
    display: none;
}

.hidden {
    display: none;
}

.success, .error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('../img/success.png');
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
}

.comentarismo-comment {
    max-width: 68em;
    padding-top: 0.95em;
}

.comentarismo-follow-up:not(:first-of-type),
.comentarismo-follow-up .comentarismo-comment {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.comentarismo-comment > div.avatar,
.comentarismo-postbox > .avatar {
    display: block;
    float: left;
    width: 7%;
    margin: 3px 15px 0 0;
}

.comentarismo-postbox > .avatar {
    float: left;
    margin: 5px 10px 0 5px;
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.comentarismo-comment > div.avatar > svg,
.comentarismo-postbox > .avatar > svg {
    max-width: 48px;
    max-height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.comentarismo-comment > div.text-wrapper {
    display: block;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header, .comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer {
    font-size: 0.95em;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header {
    font-size: 0.85em;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header .spacer {
    padding: 0 6px;
}

.comentarismo-comment > .comentarismo-comment-footer .spacer {
    padding: 0 6px;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header .spacer,
.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header a.permalink,
.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header .note,
.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header a.parent {
    color: gray !important;
    font-weight: normal;
    text-shadow: none !important;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header .spacer:hover,
.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header a.permalink:hover,
.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header .note:hover,
.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header a.parent:hover {
    color: #606060 !important;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header .note {
    float: right;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-header .author {
    font-weight: bold;
    color: #555;
}

div.text-wrapper > .textarea-wrapper .textarea {
    margin-top: 0.2em;
}

.comentarismo-comment > div.text-wrapper > div.text p {
    margin-top: 0.2em;
}

.comentarismo-comment > div.text-wrapper > div.text p:last-child {
    margin-bottom: 0.2em;
}

.comentarismo-comment > div.text-wrapper > div.text h1,
.comentarismo-comment > div.text-wrapper > div.text h2,
.comentarismo-comment > div.text-wrapper > div.text h3,
.comentarismo-comment > div.text-wrapper > div.text h4,
.comentarismo-comment > div.text-wrapper > div.text h5,
.comentarismo-comment > div.text-wrapper > div.text h6 {
    font-size: 130%;
    font-weight: bold;
}

div.textarea-wrapper .textarea {
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    box-shadow: 0 0 2px #888;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer {
    font-size: 0.80em;
    color: gray !important;
    clear: left;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer a {
    font-weight: bold;
    text-decoration: none;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer a:hover {
    color: #111111 !important;
    text-shadow: #aaaaaa 0 0 1px !important;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer > a {
    position: relative;
    top: .2em;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer > a + a {
    padding-left: 1em;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer .votes {
    color: gray;
}

.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer .upvote svg,
.comentarismo-comment > div.text-wrapper > .comentarismo-comment-footer .downvote svg {
    position: relative;
    top: .2em;
}

.comentarismo-comment .comentarismo-postbox {
    margin-top: 0.8em;
}

.comentarismo-postbox {
    max-width: 68em;
    margin: 0 auto 2em;
}

.comentarismo-postbox > .form-wrapper {
    display: block;
    padding: 0;
}

.comentarismo-postbox > .form-wrapper .textarea {
    margin: 0 0 .3em;
    padding: .4em .8em;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#comentarismo-thread .textarea:focus,
#comentarismo-thread input:focus {
    border-color: rgba(0, 0, 0, 0.8);
}

form > .form-group > .auth-section,
form > .form-group > .auth-section .post-action {
    display: block;
}

form > .form-group > .auth-section .input-wrapper {
    display: inline-block;
    position: relative;
    max-width: 25%;
    margin: 0;
}

form > .form-group > .auth-section .input-wrapper input {
    padding: .3em 10px;
    max-width: 100%;
    border-radius: 3px;
    background-color: #fff;
    line-height: 1.4em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form > .form-group > .auth-section .post-action {
    display: inline-block;
    float: right;
    margin: 0;
}

form > .form-group > .auth-section .post-action > input {
    padding: calc(.3em - 1px);
    border-radius: 2px;
    border: 1px solid #CCC;
    background-color: #DDD;
    cursor: pointer;
    outline: 0;
    line-height: 1.4em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 140px;
    height: 35px;

}

form > .form-group > .auth-section .post-action > input:hover {
    background-color: #CCC;
}

form > .form-group > .auth-section .post-action > input:active {
    background-color: #BBB;
}

@media screen and (max-width: 600px) {
    form > .form-group > .auth-section .input-wrapper {
        display: block;
        max-width: 100%;
        margin: 0 0 .3em;
    }

    form > .form-group > .auth-section .input-wrapper input {
        width: 100%;
    }

    form > .form-group > .auth-section .post-action {
        display: block;
        float: none;
        text-align: right;
    }
}

@media only screen and (max-width: 530px) {
    .comentarismo-comment > div.avatar > svg {
        max-width: 30px;
        max-height: 30px;
    }
}

.destroy:after {
    content: '⌫';
}

/*app css*/

body#landing, body#notfound {
    padding-top: 80px
}

.page-header {
    padding-bottom: 40px
}

.hidden {
    display: none
}

.table-thumbnail {
    min-height: 30px
}

#framecontent {
    height: 500px;
    border: 1px solid #e4e4e4
}

.top15 {
    margin-top: 15px
}

.top30 {
    margin-top: 30px
}

.bottom15 {
    margin-bottom: 15px
}

.bottom30 {
    margin-bottom: 30px
}

.bottom200 {
    margin-bottom: 200px !important
}

textarea {
    resize: vertical
}

.article-header {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 400
}

.article-description {
    margin-top: 10px;
    margin-bottom: 0
}

.article-image {
    width: 100%;
    overflow:hidden;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:40%;
}
.image img {
    position:absolute;
}

.article {
    background-color: #fff;
    -moz-box-shadow: 1px 2px 20px 1px #d3d3d3;
    -webkit-box-shadow: 1px 2px 20px 1px #d3d3d3;
    box-shadow: 1px 2px 20px 1px #d3d3d3;
    -webkit-border-radius: 0;
    border-radius: 0
}

#content img {
    width: 100%;
    height: auto;
    border: 1px solid #dcdcdc
}

.header-image {
    width: 100%
}

iframe {
    width: 100%;
    height: auto
}

.limit-container {
    margin: auto;
    max-width: 700px
}

#content p {
    font-family: Merriweather, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 2em 0;
    line-height: 1.6;
    word-wrap: break-word;
    font-size: 17px;
    letter-spacing: .01rem;
    text-align: left
}

#content h1 {
    font-size: 1.7em
}

#content h2 {
    font-size: 1.6em
}

#content h3 {
    font-size: 1.5em
}

.media-object {
    border: 1px solid #dcdcdc
}

code, pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word
}

.header-title {
    word-wrap: break-word
}

.header-title h1 {
    font-size: 52px;
    font-weight: 700
}

@media (max-width: 768px) {
    .header-title h1 {
        font-size: 46px
    }
}

@media (max-width: 480px) {
    .header-title h1 {
        font-size: 36px
    }
}

p.source {
    margin: 10px 0 0;
    color: gray
}

.navbar {
    margin-bottom: 0
}

.navbar-default {
    background-color: #111;
    border: 0
}

.navbar-brand {
    height: auto;
    padding: 10px 15px
}

.navbar-logo {
    margin-right: 5px
}

.navbar-logo-text {
    vertical-align: text-bottom;
    color: #fff
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input:focus, select:focus, textarea:focus {
        font-size: 16px;
        background: #eee
    }
}

.thumbnail {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none
}

a {
    color: #4a4a4a
}

.caption {
    word-wrap: break-word
}

#content a, #content a:hover {
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

/**theme**/
body, html {
    height: 100%;
    width: 100%
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    -webkit-font-feature-settings: "liga", "kern";
    -moz-font-feature-settings: "liga", "kern";
    font-feature-settings: "liga", "kern";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility
}

.lead {
    font-size: 18px;
    font-weight: 400
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #f8f8f8;
    background: url(/images/intro-bg.jpg) center center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    text-align: center
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6)
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6)
}

@media (max-width: 767px) {
    .intro-message {
        padding-bottom: 15%
    }

    .intro-message > h1 {
        font-size: 3em
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0
    }

    .intro-divider {
        width: 100%
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px
}

.content-section-a {
    background-color: #f8f8f8;
    padding: 50px 0
}

.content-section-b {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 0
}

.section-heading {
    margin-bottom: 30px
}

.section-heading-spacer {
    border-top: 3px solid #e7e7e7;
    width: 200px;
    float: left
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(/images/banner-bg.jpg) center center/cover no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
    font-size: 3em
}

.banner ul {
    margin-bottom: 0
}

.banner-social-buttons {
    float: right;
    margin-top: 0
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px
    }
}

@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
        font-size: 3em
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0
    }
}

footer {
    background-color: #f8f8f8;
    padding: 50px 0
}

p.copyright {
    margin: 5px 0 0
}

div.single-post-row {
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
}

div.social-table {
    table-layout: fixed;
    margin-top: 25px;
    overflow: hidden;
    display: table;
    width: 100%;
}

div.table-row {
    display: table-row;
}

div.table-cell {
    display: table-cell;
}

div.article-body {
    margin-top: 10px !important;
    background-color: #FFFFFD;
    border-radius: 10px;

}


